<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/users']"><mat-icon>list</mat-icon></a>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name"
           [errorStateMatcher]="matcher" [ngModel]='name'>
    <mat-error>
      <span *ngIf="!userForm.get('name').valid && userForm.get('name').touched">Please enter User Name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="email" [ngModel]='email'>
    <mat-error>
      <span *ngIf='!emailValid'>Invalid Email</span>
      <span *ngIf="!userForm.get('email').valid && userForm.get('email').touched">Please enter User email</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Phone Number" formControlName="phoneNumber" [ngModel]='phone'>
    <mat-error>
      <span *ngIf='!phoneValid'>Incorrect Phone Number</span>
      <span *ngIf="!userForm.get('phoneNumber').valid && userForm.get('phoneNumber').touched">Please enter User's Phone Number</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
</div>
